html, body {
  font-family: 'MicroSoft Jhenghei', sans-serif;
}

.navbar-brand:hover {
  font-size:1.5rem;
}

#index-category-filter, #new-form, #edit-form, #records {
  max-width: 500px;
}

h1 {
  font-size: 4rem;
}

.category-icon {
  width: 40px;
}